<p id="notice"><%= notice %></p>
<h4>Content:</h4>
<p style="color: red">

  <%= raw @lecture.content %>
</p>


<p>
  <h4>files:</h4>
<iframe src="<%= @lecture.attachment %>" allowfullscreen   ></iframe>

</p>
<p>
  <strong>Course Name :</strong>
  <%= @lecture.course.title %>
</p>


<p>

  <h1> <%= @comments.count %> Comments</h1>

</p>

<p>
  <%= render 'comments/formc'%>

</p>

<%= render 'comments/comment'%>



