<p id="notice"><%= notice %></p>

<p>

  <% @course.lectures.each do |lecture| %>
<div class="well col-xs-8 col-xs-offset-2">
  <h3 align="center" style="color: blue"> Content</h3>
  <p> <%= raw lecture.content %> </p>
<h4 class="center" ><strong>Files:</strong></h4>

  <iframe width="500px" height="300px" src="<%= lecture.attachment %>" allowfullscreen   ></iframe>


<hr>



<div class="lecture-actions">
  <%= link_to like_lecture_path(lecture) , class: "like" , method: :put do %>

    <button type="button" class="btn btn-info" aria-label="Left Aligin">

      <span class = "glyphicon glyphicon-thumbs-up glyphicon-align-center" aria-hiden="true"></span>
      <span class="badge"><%= lecture.get_upvotes.size %> </span>

    </button>

  <% end %>


  <%= link_to unlike_lecture_path(lecture) , class: "like" , method: :put do %>

    <button type="button" class="btn btn-info" aria-label="Left Aligin">

      <span class = "glyphicon glyphicon-thumbs-down glyphicon-align-center" aria-hiden="true"></span>
      <span class="badge"><%= lecture.get_downvotes.size %> </span>

    </button>

  <% end %>
  <%= link_to 'Leave Comment', lecture_path(lecture), class: 'btn btn-md  btn-success' %>
  <% if user_signed_in? %>

  <% if can? :update, lecture %>

  <%= link_to 'Edit' ,  edit_lecture_path(lecture) , class: 'btn btn-danger' %>

  <%end%>


  <% if can? :update, lecture %>

  <%= link_to 'Delete', lecture, method: :delete, data: { confirm: 'Are you sure?' } , class: 'btn btn-danger' %>
  <%end%>

  <% @lecturesuser = current_user.lectures %>

  <% if @lecturesuser.include?(lecture) %>
    <span style="color: red"> you spaned this lecture</span>

  <% else %>

    <%= link_to 'span', makespan_lecture_path(lecture), class: 'btn btn-md  btn-danger' %>

  <% end %>

  <% end %>

  <h4>total spans :<%=lecture.users.count%></h4>
</div>
</div>

<%end %>


