<!DOCTYPE html>
<html>
  <head>
    <title>Itiudemy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <a class="notice"><%= notice %></a>
  <a class="alert"><%= alert %></a>
    <%= yield %>
  </body>
</html>
